
.container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}


body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
    position: relative; 
    background-image: url('images/fondo calculadora.png'); 
    background-size: cover; 
    background-position: center; 
}


.titulo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px; 
    z-index: 1; 
}


.calculator {
    background-color: rgba(244, 143, 177, 0.8); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    width: 550px; 
    margin-top: 10px; 
    margin-right: 20px; 
    z-index: 2; 
}


.history-section {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    width: 320px; 
}

.operation-history, .error-history {
    width: 100%; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    height: 200px; 
    overflow-y: auto; 
}

.operation-history {
    background-color: #D6EAF8; 
    margin-bottom: 10px; 
}

.error-history {
    background-color: #FAD7A0; 
}


h2 {
    color: black; 
    margin-bottom: 10px; 
}

.display {
    width: 100%; 
    padding: 10px; 
    font-size: 2em; 
    text-align: center; 
    border: none; 
    background-color: #f2ecec; 
    margin-bottom: 10px; 
}


.buttons {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 10px; 
}

button {
    flex: 1 1 18%; 
    padding: 15px; 
    font-size: 1.5em; 
    background-color: #F8BBD0; 
    color: white; 
    border: 2px solid black; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

h3 {
    margin: 0 0 10px; 
    text-align: center; 
    font-size: 1.5em; 
    color: black; 
}

button:hover {
    background-color: #ADD8E6; 
}
